
<div class="full-width-header" th:fragment="adminHeader">
<nav class="navbar navbar-default mt-50">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/admin" th:href="@{/admin}">CRM</a>|
            <a href="/admin/manage-students" th:href="@{/admin/manage-students}">Manage Students</a>|
            <a href="/courses" th:href="@{/courses}">Manage Courses</a> |
            <a href="/instructors/manage" th:href="@{/instructors/manage}">Manage Instructors</a> |
            <a href="/roles" th:href="@{/roles}">Manage Roles</a>
        </div>
    </div>
</nav>
</div>